@font-face {
    src: url("../fonts/CircularStd-Bold.woff");
    font-family: "Circular Bold";
}

@font-face {
    src: url("../fonts/CircularStd-Book.woff");
    font-family: "Circular Book";
}

@font-face {
    src: url("../fonts/Nitti-Grotesk-SemiLight.woff");
    font-family: "Nitti Grotesk Semi";
}

.btn-theme {
    background: linear-gradient(90deg, #900a22 0%, #ca302d 100%);
    color: #ffffff;
    font-family: "Circular Book";
    border-radius: 1.5rem;
}

.btn-theme:hover {
    background: linear-gradient(90deg, #0a8d90 0%, #58ca2d 100%);
    color: #ffffff;
}

.auth_wrapper {
    width: 100%;
    height: 100%;
    background: lightcoral;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 15px;
}

.auth_title h3 {
    font-family: 'Circular Bold';
    color: #900a22;
}

.auth_content label {
    font-family: 'Nitti Grotesk Semi';
}

.auth_content .form-control {
    font-family: 'Circular Book';
}

.error_msg {
    font-family: 'Circular Book';
}
